QWEN2_5_3B_INSTRUCT_PATH=Qwen/Qwen2.5-3B-Instruct
QWEN2_5_MATH_1_5B_INSTRUCT_PATH=Qwen/Qwen2.5-Math-1.5B-Instruct
OPENCHAT_3_5_0106_PATH=openchat/openchat-3.5-0106
NOUS_HERMES_2_MISTRAL_7B_DPO_PATH=NousResearch/Nous-Hermes-2-Mistral-7B-DPO
OPENHERMES_2_5_MISTRAL_7B_PATH=teknium/OpenHermes-2.5-Mistral-7B
DEEPSEEK_LLM_7B_CHAT_PATH=deepseek-ai/deepseek-llm-7b-chat
MISTRAL_7B_INSTRUCT_V0_2_PATH=mistralai/Mistral-7B-Instruct-v0.2
